.containerMapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgMapa {
  max-width: 70%;
  margin: auto 0;
}


.absolute {
  position: absolute;
}

.posicion1 {
  top: 60%;
  left: 50%;
}

.posicion2 {
  top: 60%;
  left: 70%;
}

.posicion3 {
  top: 90%;
  left: 70%;
}

.posicion4 {
  top: 110%;
  left: 40%;
}