
.imagen{
  position: absolute;
  width: 70vw;
  height: 85vh;
  text-align: center;
  border-color: black;
  border-style: groove;
  border-radius: 10px;
}


.imagen img{
  height: 100%;
  width: 100%;
  border-radius: 7px;
}


.containerBtn{
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);;
  grid-template-rows:  repeat(11, 1fr);;
  width: 70vw;
  height: 85vh;
}

.btn_actividad{
  /*falta terminar de configurar las relaciones, falla en ocaciones*/
  height: 7.72vh !important;
  min-width: 0px !important;
  max-width: 5.83vw;

  font-size: 2vh !important ;
  font-family: 'Maven Pro', cursive;
  color : #e2e2e2;
}

@media (max-width: 905px) {
  .imagen{
      width: 95vw;
      height: 60vh;
  }
  .containerBtn{
      width: 95vw;
      height: 60vh;
  }
  .btn_actividad{
     /*falta terminar de configurar las relaciones, falla en ocaciones*/
    height: 5.45vh !important;
    max-width: 7.0vw !important;
  }
}