@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Maven+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@600&display=swap');

.formulario{
    width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.formulario p, label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Maven Pro';
}

.formulario label{
    font-size: 14px;
}

.formulario input{
    height: 40px;
    width: 450px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow:  6px 6px 3px teal;
    font-family: 'Sarabun', sans-serif;
    padding-left: 10px;
}

.formulario .radio_input{
    height: 22px;
    width: 50px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow:  2px 2px 2px teal;
}

.formulario .envio:hover{
    transition: .3s;    
    box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.774);
}

.registro_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    font-family: 'Sarabun', sans-serif;
}

.registro_title{
    margin-top: 100px;
}

.envio{
    width: 144px;
    height: 44px;
    background: #64b4b4;
    border-radius: 10px;
    border: 1px solid #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 45px;
}

.envio p{
    margin: auto;
}

@media (max-width: 500px){
    .formulario{
        width: 100vw;
    }
}