@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Maven+Pro:wght@600&display=swap');


.link , .link:visited , .link:active{
    text-decoration:none;
    color: inherit;
}

.nav a {
    background: #7db952;
    border-radius: 4px;
    padding: 6px 10px;
    margin-right: 10px;
    text-decoration:none;
}

.nav a:hover {
    background: #72aa4a;
}

.nav a.active {
    color: #7db952;
    background: #ffffff;
}

.nav a.inactive {
    font-style: italic;
    color: #ffffff;
}

.navigationBar{
    background-color: #7db952;
}

