.resmPersonaje{
    display: grid;
    grid-template-columns: 1fr;
    width: 200px;
    height: 100%;
    border-radius: 15px;
    border: 2px solid #A5BA8F;
    /* border: 2px solid rgb(120, 189, 133); */
    margin: 5px;
    padding: 20px;

}

.resmPersonaje p{
    margin: 2px;
    margin-top: 15px;
}


.resmPersonaje_vida_barra{
    background-color: rgb(223, 223, 223);
    margin: auto;
    margin-top: 10px;
    width: 95%;
    height: 20px;
    border-radius: 5px;
}

.resmPersonaje_experiencia_barra{
    background-color: rgb(223, 223, 223);
    margin: auto;
    margin-top: 10px;
    width: 95%;
    height: 20px;
    border-radius: 5px;
    
}










.resmPersonaje .resmPersonaje_img{
    margin: auto;
    background-color: aqua;
    width: 90%;
    height: 250px;
    border-radius: 15px;
    border: 2px dashed rgb(81, 81, 81);
}

.resmPersonaje_img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.resmPersonaje_vida{
    display: flex;
    justify-content: space-between;
}


.resmPersonaje_experiencia{
    display: flex;
    justify-content: space-between;
}


.resmPersonaje_habilidades{
    display: flex;
    justify-content: space-between;
}

.resmPersonaje_vida i{
    color: rgb(209, 49, 49);

}

.resmPersonaje_habilidades i{
    color: rgb(79, 40, 218);

}

.resmPersonaje_experiencia i{
    color: rgb(189, 187, 57);

}
